.mb-furniture {
  list-style: none;
  padding: 0;
}

.mb-furniture-item {
  padding: 10px 15px;
  border-radius: 2px;
  text-align: center;
  margin-top: 30px;
}

.mb-furniture-item img {
  margin: 0 auto;
}

.mb-furniture-item h3 {
  margin: 2px 0 0;
}

.mb-furniture-item h3 > a {
  font-size: 16px;
  font-weight: 500;
}

.mb-furniture-item p {
  color: #ff4f00;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.mb-furniture-item .mb-details {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
}

.mb-furniture-item .mb-btn-buy {
  font-size: 15px;
  text-transform: uppercase;
  color: #5d2e0e;
  padding: 4px 10px 2px;
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  border-top: 1px solid #fff;
  box-shadow: #92674a 0 3px 2px 0;
  background: rgb(223,237,244);
  background: -moz-linear-gradient(top, rgba(223,237,244,1) 0%, rgba(205,199,191,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,237,244,1)), color-stop(100%,rgba(205,199,191,1)));
  background: -webkit-linear-gradient(top, rgba(223,237,244,1) 0%,rgba(205,199,191,1) 100%);
  background: -o-linear-gradient(top, rgba(223,237,244,1) 0%,rgba(205,199,191,1) 100%);
  background: -ms-linear-gradient(top, rgba(223,237,244,1) 0%,rgba(205,199,191,1) 100%);
  background: linear-gradient(to bottom, rgba(223,237,244,1) 0%,rgba(205,199,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfedf4', endColorstr='#cdc7bf',GradientType=0 );
}