.mb-furniture-full .mb-btn-buy {
  width: 30%;
}

.mb-furniture-full .mb-price {
  text-align: center;
  color: #ff4f00;
  font-size: 18px;
  font-weight: 500;
}

.mb-content.mb-small {
  padding: 5px;
}

.mb-small + .mb-small {
  margin-left: 10px;
}