.mb-furniture-full .mb-btn-buy {
  width: 30%;
}

.mb-furniture-full .mb-price {
  text-align: center;
  color: #ff4f00;
  font-size: 18px;
  font-weight: 500;
}

.mb-content.mb-small {
  padding: 5px;
}

.mb-small + .mb-small {
  margin-left: 10px;
}

.mb-color-palette {
  padding-left: 15px;
  padding-right: 15px;

  div.mb-box {
    padding: 5px;
    display: inline-block;
    max-width: 130px;
    margin: 5px;

    h3 {
      margin: 0;
      margin-top: 10px;
      font-size: 14px;
    }
  }
}