.mb-gallery-item.mb-box {

  margin: 0 5px 15px;
  display: inline-block;
  max-width: 100%;

  h2 {
    padding: 10px;
    margin: 0;
    font-size: 18px;
    text-align: center;
  }

  img {
    margin-bottom: 10px;
  }

}