.mb-gallery {

  .mb-box {

    margin-top: 10px;
    min-height: 251px;

    h2 {
      padding: 10px;
      margin: 0;
      font-size: 18px;
      text-align: center;
    }

    img {
      margin-bottom: 10px;
    }

  }

}