.content-info {
  color: @color-footer-text;
  font-size: 16px;
  margin-top: 15px;

.mb-footer-nav {
  ul li:last-child a span {
    display: none;
  }

  li {
    padding-left: 2px;
    padding-right: 2px;
  }

  a {
    color: @color-footer-text;
    font-size: 14px;
  }
}
}

.content-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}