// Body background
body {
  background: url(@background-wood-dark);
}



// Content wrapper
.wrap {
  background-image: url(@background-light), url(@background-wood-light);
  background-repeat: no-repeat, repeat;
  background-position: left top, center top;
  padding-top: 20px;
  padding-bottom: 20px;
}

// Main content area
.main {
  color: @color-main-text;
}


.mb-box {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(228, 173, 127, 0.5);
  box-shadow: #56280e 0px 1px 2px 0px;
}
